<% provide(:title, "Sign-up") %>
<div class=main>
  <div class=box>
    <h3>Create a User</h3>
    <%= form_for(@user, url: signup_path) do |f| %>
      <% if @user.errors.any? %>
        <div id=error_explanation>
          <div class=alert>
            The form contains <%= pluralize(@user.errors.full_messages.uniq.count, "error") %>.
          </div>
          <ul>
            <% @user.errors.full_messages.uniq.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= recaptcha_tags %>

      <%= f.submit "Signup" %>
    <% end %>
  </div>
</div>
