<% unless @comments.nil? %>
  <% @comments.each do |comment| %>
    <li class=comment>
      <div class=votes>
        <span class=upvote data="c<%= comment.id %>">&#8613;</span>
        <span class=downvote data="c<%= comment.id %>">&#8615;</span>
      </div>
      <div class=comment_box>
        <span class=comment_header>
          <b><%= link_to comment.user.name, "/user/#{comment.user.name}" %></b>
           | <b><%= comment.karma %></b> points
           | <%= time_ago_in_words(comment.created_at) %> agos
        </span>
        <span class=comment_content><%= comment.content %></span>
      </div>
    </li>
  <% end %>
<% end %>




