<% provide(:title, @post.nil? ? "Pot not found" : @post.title) %>
<% provide(:moderator, @subreddit.nil? ? "" : @subreddit.moderator.name) %>
<% unless @post.nil? %>
  <% provide(:poster, @post.user.name) %>
<% end %>

<div class=main>
  <div class=box>
    <% unless @post.nil? | @subreddit.nil? %>
      <%= render 'post' %>
      <% if logged_in? %>
        <%= render 'comment_form' %>
      <% end %>
      <ul class=post_comment_list>
        <%= render 'post_comments' %>
      </ul>
    <% end %>
  </div>
  <%= render "shared/sidebar" %>
</div>

<%= javascript_include_tag 'karma_ajax', 'data-turbolinks-track': 'reload' %>
