<% provide(:title, @post.nil? ? "Pot not found" : "micro-reddit | #{@post.title}") %>
<% provide(:moderator, @subreddit.nil? ? "" : @subreddit.moderator.name) %>

<div class=main>
  <div class=box>
    <%= link_to "r/#{@subreddit.name}", "/r/#{@subreddit.name}", class: "sub_link" %>
    <% unless @post.nil? | @subreddit.nil? %>
      <%= render partial: "shared/post", locals: {post: @post} %>
      <% if logged_in? %>
        <%= render 'comment_form' %>
      <% end %>
      <ul class=post_comment_list>
        <% unless @comments.nil? %>
          <% @comments.each do |comment| %>
            <%= render partial: "shared/comment", locals: {comment: comment} %>
          <% end %>

          <%= will_paginate @comments %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= render "shared/sidebar" %>
</div>
