<div class=header>
  <h1><span>micro</span><%= link_to "reddit", root_path %></h1>
  <div class=access>
    <span>
      <% if logged_in? %>
        <%= link_to current_user.name, "/user/#{current_user.name}" %>

        (<%= current_user.karma %>)
         |
        <%= link_to "logout", logout_path %>
      <% else %>
        <%= "Want to join?" %>
        <%= link_to "login or signup ", signup_path %>
        <%= "in seconds!" %>
      <% end %>
    </span>
  </div>
</div>
