<div class=header>
  <h1><span>micro</span><%= link_to "reddit", '#' %></h1>
  <div class=access>
    <span>
      <% if false %>
        <%= "User name and karma" %>
        <%= link_to "logout", "#" %>
      <% else %>
        <%= "Want to join?" %>
        <%= link_to "login or signup ", "#" %>
        <%= "in seconds!" %>
      <% end %>
    </span>
  </div>
</div>
