<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <div class="wrapper">
      <%= render "layouts/header" %>
      <div class="wrapper">
        <%= render "layouts/flasher" %>
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
  <%= debug(params) if Rails.env.development? && false %>
</html>

